body {
  background-color: white;
  color: black;
  font-family: Arial, sans-serif;
  font-size: smaller;
  margin: 20px 20px 20px 20px;
}

.panel {
  margin: 20px;
  padding: 20px;
  background-color: #80ff80;
  width: 80%;
  height: 200px;
}

.gwt-TabPanel {
  width: 100%;
  height: 800px;
}

.gwt-TabPanelBottom {
  border-left: 2px solid #87B3FF;
}

.gwt-TabBar {
  background-color: #C3D9FF;
  font-size: smaller;
}

.gwt-TabBar .gwt-TabBarFirst {
  height: 100%;
  border-bottom: 1px solid #87B3FF;
  padding-left: 6px;
}

.gwt-TabBar .gwt-TabBarRest {
  border-bottom: 1px solid #87B3FF;
  padding-right: 6px;
}

.gwt-TabBar .gwt-TabBarItem {
  border-top: 3px solid #C3D9FF;
  border-bottom: 2px solid #87B3FF;
  padding: 4px;
  cursor: pointer;
}

.gwt-TabBar .gwt-TabBarItem-selected {
  font-weight: bold;
  background-color: #E8EEF7;
  border-top: 2px solid #87B3FF;
  border-left: 2px solid #87B3FF;
  border-right: 2px solid #87B3FF;
  border-bottom: 2px solid #E8EEF7;
  padding: 4px;
  cursor: default;
}

.gwt-Tree {
}

.gwt-Tree .gwt-TreeItem {
  font-size: smaller;
}

.gwt-Tree .gwt-TreeItem-selected {
  background-color: #C3D9FF;
}

.ol-Map{
}

